<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Waterminder
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="contenedor-tomaragua">
    <ion-item lines="none">
      <ion-button expand="block" (click)="tomeAgua()">Tome agua</ion-button>
    </ion-item>
    <ion-item lines="none" class="agua-persona">
      <img src="../../../assets/img/avatar-1.png" onerror="this.src='assets/img/avatar-1.png'" class="caja-liquida">
      <div class="carga olas" [ngClass]="['key-' + configuracion.avace,'wave-' + configuracion.avace]" [ngStyle]="{'mask-image': 'url(assets/img/avatar-' + configuracion.avatar + '.png)' }"></div>
    </ion-item>
  </div>
</ion-content>

<ion-footer mode="md">
  <ion-toolbar>
    <ion-title>Tome {{configuracion.avace}} vasos hoy "{{configuracion.nombre}}"</ion-title>
  </ion-toolbar>
</ion-footer>